body, html {
    height: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body.demo {
    background: #2b3990;
    background: linear-gradient(45deg, #2b3990 0%, #92278f 100%);
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}