---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";

import { Icon } from "astro-icon";
---

<Layout title="Live">
    <div class="flex flex-col items-center">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-r lg:grid-cols-4 2xl:grid-cols-5 px-4 gap-2 min-w-[75%] justify-items-center"
            x-data="liveData()"
        >
            <div class="col-span-full w-full">
                <Header />
            </div>
            <div
                x-show="!loaded"
                class="flex min-h-[16em] col-span-full text-center text-white justify-center items-center text-xl"
            >
                <Icon
                    name="fluent:spinner-ios-20-filled"
                    class="animate-spin inline w-6 h-6 mb-1"
                />
                Loading...
            </div>
            <template x-for="channel in channels">
                <div
                    class="card w-full relative border border-purple-400 rounded-lg bg-white overflow-hidden"
                >
                    <div
                        class="absolute w-full flex justify-between p-4 bg-black/50 pointer-events-none"
                        style="backdrop-filter:blur(2px)"
                    >
                        <div
                            class="flex items-center text-lg font-bold text-white"
                            x-text="channel.user_name"
                        >
                        </div>
                        <div
                            class="bg-red-600 rounded p-1 flex justify-center items-center min-w-[4em] text-white font-bold"
                        >
                            <Icon name="ph:eye-fill" class="w-4 h-4 mr-1" />
                            <span x-text="channel.viewer_count"></span>
                        </div>
                    </div>
                    <div>
                        <a x-bind:href="channel.url"
                            ><img
                                x-bind:src="channel.thumbnail_url"
                                class="w-full h-auto"
                                width="320"
                                height="180"
                            /></a
                        >
                    </div>
                    <div class="px-4 py-2">
                        <div
                            class="text-lg font-bold mb-2"
                            x-text="channel.game_name"
                        >
                        </div>
                        <div class="mb-2" x-text="channel.title"></div>
                    </div>
                </div>
            </template>

            <div class="col-span-full w-full">
                <Footer />
            </div>
        </div>
    </div>
</Layout>

<style scoped></style>

<script is:inline>
    function liveData() {
        return {
            channels: [],
            loaded: false,
            async init() {
                let response = await fetch(
                    "https://heat-api-staging.j38.workers.dev/live"
                );
                let json = await response.json();
                json.forEach(async (channel) => {
                    this.channels.push({
                        ...channel,
                        url: "https://twitch.tv/" + channel.user_login,
                        thumbnail_url: channel.thumbnail_url
                            .replace("{width}", "320")
                            .replace("{height}", "180"),
                    });
                });
                this.loaded = true;
            },
        };
    }
</script>
