---
import Layout from "../layouts/Layout.astro";

const demos = new Map([
	["HeatMap", "/heatmap/"],
	["Markers", "/markers/"],
	["Kisses", "/kissingbooth/"],
	["Sequence", "/sequence/"],
	["Baby", "/baby/"],
	["Paint", "/paint/"],
	["Vote", "/vote/"],
	["Tomatoes", "/tomatoes/"],
]);
---

<Layout title="Home">
	<div class="flex flex-col justify-center items-center h-full">
		<a href="/"><img src="/images/heat.svg" width="360" height="128" /></a>

		<div
			class="flex flex-wrap justify-center text-white gap-2 my-8 uppercase w-full max-w-md"
		>
			{
				[...demos].map(([key, value]) => (
					<a
						class="demo p-2 rounded border border-white block hover:bg-white/50"
						href={value}
					>
						{key}
					</a>
				))
			}
		</div>
		<div class="text-xs font-light uppercase text-white/50">
			&copy; <a href="https://scottmadethis.net">Scott Garner</a> &bull;
			<a href="/about">About</a> &bull;
			<a href="/help">Help</a> &bull;
			<a href="/status">Status</a>
		</div>
	</div>
</Layout>

<style is:global>
	.btn-container {
		position: absolute;
		bottom: 1em;
		left: 1em;
	}
</style>

<script is:inline>
	(function () {
		const params = new URL(location.href).searchParams;
		const channel =
			params.get("channel") ||
			params.get("channelId") ||
			params.get("channelID") ||
			97032862;

		let demoElements = document.getElementsByClassName("demo");
		for (let demoElement of demoElements) {
			let href = demoElement.getAttribute("href");
			href += "?channel=" + channel;
			demoElement.setAttribute("href", href);
		}
	})();
</script>

<script
	type="text/javascript"
	src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"
></script>
<script is:inline type="text/javascript">
	kofiwidget2.init("Support Me on Ko-fi", "#0ab89d", "H2H0I5NI8");
	kofiwidget2.draw();
</script>
