---
import Layout from "../layouts/Layout.astro";
import Support from "../components/Support.astro";
import { Icon } from "astro-icon";

const demos = new Map([
	["HeatMap", "/heatmap/"],
	["Markers", "/markers/"],
	["Kisses", "/kissingbooth/"],
	["Sequence", "/sequence/"],
	["Baby", "/baby/"],
	["Paint", "/paint/"],
	["Vote", "/vote/"],
	["Tomatoes", "/tomatoes/"],
]);
---

<Layout title="Home">
	<div
		class="flex flex-col justify-center items-center h-full w-full max-w-md m-auto px-2"
	>
		<a href="/"><img src="/images/heat.svg" width="360" height="128" /></a>

		<div class="mt-6 mb-6 w-full flex justify-items-stretch gap-2">
			<a
				class="transition duration-300 border-2 border-orange-400 text-orange-400 font-semibold hover:bg-orange-400 hover:text-white hover:border-white rounded py-2 px-4 w-full block text-center"
				href="/about">About</a
			>
			<a
				class="transition duration-300 border-2 border-orange-400 text-orange-400 font-semibold hover:bg-orange-400 hover:text-white hover:border-white rounded py-2 px-4 w-full block text-center"
				href="/help">Help</a
			>
		</div>

		<div
			class="grid grid-cols-4 justify-center justify-items-stretch text-white gap-2 mb-6 w-full"
		>
			{
				[...demos].map(([key, value]) => (
					<a
						class="transition duration-300 demo p-2 rounded border-2 border-white block hover:bg-white/50 text-center"
						href={value}
					>
						{key}
					</a>
				))
			}
		</div>

		<div class="flex justify-center mb-2 gap-1 text-white/50 w-full">
			<a href="https://github.com/scottgarner/Heat">
				<Icon
					class="hover:text-white inline w-6 mr-1"
					name="fa-brands:github"
				/>
			</a>
			<a href="https://twitch.tv/scottmadethis">
				<Icon
					class="hover:text-white inline w-6 mr-1"
					name="fa-brands:twitch"
				/>
			</a>
			<a href="https://discord.gg/GtAffRP">
				<Icon
					class="hover:text-white inline w-6 mr-1"
					name="fa-brands:discord"
				/>
			</a>
			<a href="https://patreon.com/scottmadethis">
				<Icon
					class="hover:text-white inline w-6 mr-1"
					name="fa-brands:patreon"
				/>
			</a>
			<a href="https://ko-fi.com/scottmadethis">
				<Icon
					class="hover:text-white inline w-6 mr-1"
					name="cib:ko-fi"
				/>
			</a>
		</div>

		<hr class="w-full h-px mb-2 bg-white/50 border-none" />

		<div class="text-xs font-light uppercase text-white/50 mb-2">
			&copy; <a href="https://scottmadethis.net">Scott Garner</a> &bull;
			<a class="hover:text-white" href="/about">About</a> &bull;
			<a class="hover:text-white" href="/help">Help</a> &bull;
			<a class="hover:text-white" href="/status">Status</a> &bull;
			<a class="hover:text-white" href="/terms">Terms</a>
		</div>
	</div>
</Layout>

<Support />

<script is:inline>
	(function () {
		const params = new URL(location.href).searchParams;
		const channel =
			params.get("channel") ||
			params.get("channelId") ||
			params.get("channelID") ||
			97032862;

		let demoElements = document.getElementsByClassName("demo");
		for (let demoElement of demoElements) {
			let href = demoElement.getAttribute("href");
			href += "?channel=" + channel;
			demoElement.setAttribute("href", href);
		}
	})();
</script>
