<footer
    class="my-4 text-center justify-content align-content text-xs font-light uppercase text-white opacity-50"
>
    &copy; <a href="https://scottmadethis.net/">Scott Garner</a> 2019-2023 &bull;
    <a href="/">Home</a> &bull;
    <a href="/terms">Terms</a>
</footer>
