---
import Layout from "./Layout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<Layout title={title}>
    <div
        class="flex flex-col items-center justify-center w-3/4 max-w-xl m-auto"
    >
        <Header />
        <div class="info bg-white rounded p-6">
            <slot />
        </div>
        <Footer />
    </div>
</Layout>
