---
export interface Props {
	title: string;
}

const { title } = Astro.props.frontmatter || Astro.props;

import "../css/main.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Heat: {title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		background: #2b3990;
		background: linear-gradient(45deg, #2b3990 0%, #92278f 100%);
		background-attachment: fixed;
		height: 100%;
	}
</style>
